@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}
.active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var --primary-color !important;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
/* variable define */

:root {
  --primary-color: #ffc222;
  --secondary-color: #00a149;
  --white-color: #fff;
  --text-color: #b0b0b0;
  --black-color: #1e1d23;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--secondry-color);
}
h1 {
  font-size: 58px;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--white-color);
  text-shadow: 1px 0 6px #000;
}
h1 span {
  color: var(--primary-color);
}
h2 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 3rem;
}
h4 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
h5 {
  color: var(--black-color);
  text-transform: capitalize;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.75rem;
  letter-spacing: 1px;
}
.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5635rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.wrapper {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
}
.text-content {
  width: 70%;
  margin: auto;
}

/*-----*/
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navigation-wrap .nav-item {
  padding: 0 0 0.625rem;
  transition: all 0.3s linear;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color: green;
  letter-spacing: 1px;
}
.nav-link:hover,
.nav-link.active {
  color: var(--primary-color) !important;
}
.navigation-wrap .main-btn {
  padding: 0.3125rem;
  box-shadow: none;
  margin-left: 0.625;
}
.navigation-wrap.scroll-on {
  position: fixed;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.09);
  transition: all 0.15s ease-in-out 0s;
}

.navigation-wrap.scroll-on .nav-link {
  color: var(--black-color);
}
.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active {
  color: var(--primary-color);
}
.top-banner {
  width: 100%;
  background: url("../images/bg/bg-1.jpg") no-repeat center;
  background-size: cover;
  padding: 16.875rem 0 9.375rem;
}
.top-banner p {
  color: var(--white-color);
}
.our-menu .card {
  border: none;
}
.card m-2{
  display: flex;
  align-items: center;
}
.our-menu .link_category_product {
  position: relative;
  display: block;
  z-index: 1;
}
.our-menu .link_category_product::before {
  position: absolute;
  contain: "";
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px dotted var(--secondary-color);
  z-index: -1;
  transform: translateX(-50%) translateY(-50%) scale(0);
  background: var(--primary-color);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transform: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.card:hover .link_category_product::before {
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.our-menu .cat-title a {
  text-align: center;
  font-size: 0.8125;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-color);
}
.card:hover .cat-title a {
  color: var(--primary-color);
}

.about-section {
  background: #f7a300;;
}
.about-section .card,
.about-section .card img {
  border-radius: 0.625rem;
  background-color: var(--black-color);
  box-shadow: inset 2px 2px 5px rgb(2, 104, 15), 2px 2px 5px rgb(218, 233, 7);
}
.img-fluid {
  margin: 20px;
}
.about-section .text-sec {
  padding-left: 2rem;
}
.food-type ul li {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 32px;
  position: relative;
  margin-left: 30px;
  list-style: none;
}
.food-type ul li::before {
  position: absolute;
  left: -2.1875rem;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
.explore-food .card {
  border: none;
  background-color: transparent;
  border-radius: 0.9375rem;
}
.explore-food .card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.explore-food p {
  color: var(--text-color);
  font-size: 14px;
  line-height: 22px;
}

.testimonial-section {
  background: var(--secondary-color);
  padding-bottom: 12rem;
}
.testimonial-section h5 {
  color: var(--white-color);
}
.testimonial-section .carousel-item {
  margin-top: 30px;
  padding: 10rem 3.125rem;
  background-color: var(--black-color);
  text-align: center;
  border-radius: 0.9375rem;
}
.testimonial-section .carousel-caption img {
  text-align: center;
  max-height: 100px;
  max-width: 100px;
  border-radius: 50px;
  padding: 0.3125rem;
  margin-left: 17rem;
  margin-bottom: 1rem;
}
.testimonial-section .carousel-caption p {
  font-size: 1.125rem;
  line-height: 1.65625rem;
  font-weight: 300;
  color: var(--white-color);
  padding: 0 11% 0.625rem;
}

.testimonial-section .carousel-indicators {
  bottom: -2.8125rem;
}

.testimonial-section .carousel-indicators button {
  width: 14px;
  height: 14px;
  outline: none;
  border-radius: 50%;
  border: none;
  background-color: #000000 !important;
  margin-right: 1rem;
  opacity: 0.2;
}
.testimonial-section .carousel-indicators button.active {
  opacity: 1;
}
.footer {
  background: var(--black-color);
}
.footer .footer-link {
  font-size: 1rem;
  color: var(--black-color);
  padding: 0 1.875rem;
}
.footer .footer-link {
  color: var(--white-color);
}
.footer .footer-social a i {
  font-size: 1.5rem;
  color: var(--white-color);
  padding: 0 1rem;
}
.footer .footer-social a i:hover {
  color: var(--primary-color);
}
.newslatter .form-control {
  height: 3.225rem;
  padding: 0 1.25rem;
  font-size: 0.875;
  width: 100%;
  border-radius: 0;
  background: transparent !important;
  border: 0.1875rem solid var(--white-color);
  color: #000;
  font-weight: 700;
}
.newslatter .main-btn {
  height: 3.225rem;
  padding: 0 1.25rem;
  font-size: 0.875rem;
  border-radius: 0;
  background-color: var(--white-color);
  border: 0.1875rem solid var(--white-color);
  color: var(--black-color);
}
.newslatter:hover .form-control {
  border: 0.1875rem solid var(--primary-color);
  color: var(--text-color);
}
.newslatter:hover .main-btn {
  background: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
}
.newslatter:hover .form-control:hover,
.newslatter:hover .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary-color);
}

#design{
  width: 300px !important;
  background-color: #6fd5d5;
}
.__foods__container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

