{% extends 'manager/man_dash_base.html' %}
{% block content %}
<div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Feedback</h1>
				    </div>
			    </div><!--//row-->

				<div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">

                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">id</th>
                                                <th class="cell">Content</th>
                                                <th class="cell">Customer</th>
                                                <th class="cell">Date</th>
                                                <th class="cell"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if feedbacks%}
                                        {% for feedback in feedbacks%}
                                            <tr>
                                                <td class="cell">{{feedback.id}}</td>
                                                <td class="cell"><span class="truncate">{{feedback.content}}</span></td>
                                                <td class="cell">{{feedback.customer}}</td>
                                                <td class="cell"><span>{{feedback.date}}</span></td>
												<td class="cell"><a class="btn-sm btn-danger" href="{% url 'manager:delete-feedback' feedback.id%}">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                        <p>there is no feedback</p>
                                        {% endif %}

                                        </tbody>
                                    </table>
						        </div><!--//table-responsive-->
						    </div>
						</div><!--//app-card-->
						<nav class="app-pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
							    </li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
								    <a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</nav><!--//app-pagination-->
			        </div><!--//tab-pane-->
			        <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
					    <div class="app-card app-card-orders-table mb-5">
						    <-//app-card-body-->
						</div><!--//app-card-->
			        </div><!--//tab-pane-->
				</div><!--//tab-content-->
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
</div><!--//app-wrapper-->
{% endblock %}