<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>Report date is {{dte}}</h1>

<table id="customers">
  <tr>
    <th>Id</th>
    <th>Products</th>
    <th>Products Id</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Total</th>
  </tr>
 {% for report in reports %}
<tr>
    <td>{{report.id}}</td>
    <td>{{report.products}}</td>
    <td>{{report.product_id}}</td>
    <td>{{report.customer}}</td>
    <td>{{report.date}}</td>
    <td>{{report.total}}</td>
</tr>


    {% endfor %}
<tr>
    <td>.</td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
    <td ><b>Grand Total=</b></td>
    <td><b>{{total}}</b></td>
</tr>
</table>

</body>
</html>


