{% extends 'base/index.html' %} {% block content %}
<div class="__dashboard_container">
  <div class="__navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Welcome back, Saimun</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarColor01"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="__sidebar_body_wrapper">
    <div class="__sidebar_container">
      <div class="list-group">
        <a
          href="#"
          class="list-group-item list-group-item-action"
          aria-current="true"
        >
          Foods
        </a>
        <a href="#" class="list-group-item list-group-item-action">Order</a>
      </div>
    </div>
    <div class="__dashboard_body">
      <div class="__foods__container d-flex align-items-center">
        <!-- food card -->
        <div class="card m-2" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://picsum.photos/200"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Burger</h5>
            <p class="card-text py-1">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="d-flex align-items-center justify-content-between">
              <p class="text-lg font-weight-bold">BDT 95</p>
              <div class="d-flex align-items-center">
                <button class="btn btn-sm btn-primary mx-2">Add to Cart</button>
                <button class="btn btn-sm btn-outline-warning">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
