{% extends 'customer/cusbase.html' %}
{% block type %}
{% load static %}
<section class="our-menu p-4">
      <div class="container text-center">
        <h2 class="pb-4">our menu</h2>
        <div class="row">
          <div class="col-6 col-sm-2 mb-4 mb-lg-0">
            <div class="card">
              <div class="cat-image">
                <a href="#" class="link_category_product">
                  <img src="{% static './images/img/category1.png' %}" alt="" />
                </a>
              </div>
              <div class="cat-title">
                <a href="">pizza</a>
              </div>
            </div>
          </div>

          <div class="col-6 col-sm-2 mb-4 mb-lg-0">
            <div class="card">
              <div class="cat-image">
                <a href="#" class="link_category_product">
                  <img src="{% static './images/img/category2.png' %}" alt="" />
                </a>
              </div>
              <div class="cat-title">
                <a href="">Souces</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-2 mb-4 mb-lg-0">
            <div class="card">
              <div class="cat-image">
                <a href="#" class="link_category_product">
                  <img src="{% static './images/img/category3.png' %}" alt="" />
                </a>
              </div>
              <div class="cat-title">
                <a href="">Kombo</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-2 mb-4 mb-lg-0">
            <div class="card">
              <div class="cat-image">
                <a href="#" class="link_category_product">
                  <img src="{% static './images/img/category4.png' %}" alt="" />
                </a>
              </div>
              <div class="cat-title">
                <a href="">Kids menu</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-2 mb-4 mb-lg-0">
            <div class="card">
              <div class="cat-image">
                <a href="#" class="link_category_product">
                  <img src="{% static './images/img/category5.png' %}" alt="" />
                </a>
              </div>
              <div class="cat-title">
                <a href="">Chicken</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-2 mb-4 mb-lg-0">
            <div class="card">
              <div class="cat-image">
                <a href="#" class="link_category_product">
                  <img src="{% static './images/img/category6.png' %}" alt="" />
                </a>
              </div>
              <div class="cat-title">
                <a href="">Box meal</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block content %}
{% load static %}

 <!--  https://picsumphotos/200. -->
        {% for item in items %}
        <!-- food card -->
      <div class="full">
        <div class="card m-2" style="width: 18rem">
          <img
            class="card-img-top"
            src="{{item.image.url}}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title" style="color:rgb(10, 129, 56)">{{item.food_title}}</h5>
            <p class="card-text py-1">
              {{item.food_description}}
            </p>
            <div class="d-flex align-items-center justify-content-between">
              <p class="text-lg font-weight-bold">BDT {{item.food_price}}</p>
              <div class="d-flex align-items-center">
                <button class="btn btn-sm btn-primary mx-2"><a href="{% url 'customer:add-to-cart' item.id %}" style="color:black;">Add to Cart</a></button>
                <button class="btn btn-sm btn-outline-warning"><a class="btn-sm app-btn-secondary" href="{% url 'customer:cus-food-detail' item.id %}">View</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
{% endblock %}