{% extends 'customer/cusbase.html' %} {% block type %} {% load static %}
<section class="our-menu p-4">
  <div class="container text-center">
    <h2 class="pb-4">our menu</h2>
    <div class="row">
      <div class="col-6 col-sm-2 mb-4 mb-lg-0">
        <div class="card">
          <div class="cat-image">
            <a href="{% url 'customer:explore' %}" class="link_category_product">
              <img src="{% static './images/img/all.jpg' %}" alt="default" />
            </a>
          </div>
          <div class="cat-title">
            <a href="{% url 'customer:explore' %}">All</a>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-2 mb-4 mb-lg-0">
        <div class="card">
          <div class="cat-image">
            <a href="{% url 'customer:pizza' %}" class="link_category_product">
              <img src="{% static './images/img/category1.png' %}" alt="" />
            </a>
          </div>
          <div class="cat-title">
            <a href="{% url 'customer:pizza' %}">pizza</a>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-2 mb-4 mb-lg-0">
        <div class="card">
          <div class="cat-image">
            <a href="{% url 'customer:burger' %}" class="link_category_product">
              <img src="{% static './images/img/category3.png' %}" alt="" />
            </a>
          </div>
          <div class="cat-title">
            <a href="{% url 'customer:burger' %}">Burger</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-2 mb-4 mb-lg-0">
        <div class="card">
          <div class="cat-image">
            <a href="{% url 'customer:fry' %}" class="link_category_product">
              <img src="{% static './images/img/category4.png' %}" alt="" />
            </a>
          </div>
          <div class="cat-title">
            <a href="{% url 'customer:fry' %}">Fry</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-2 mb-4 mb-lg-0">
        <div class="card">
          <div class="cat-image">
            <a href="{% url 'customer:drinks' %}" class="link_category_product">
              <img src="{% static './images/img/softdrinks.jpg' %}" alt="" />
            </a>
          </div>
          <div class="cat-title">
            <a href="{% url 'customer:drinks' %}">Drinks</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-2 mb-4 mb-lg-0">
        <div class="card">
          <div class="cat-image">
            <a href="{% url 'customer:chicken' %}" class="link_category_product">
              <img src="{% static './images/img/category5.png' %}" alt="" />
            </a>
          </div>
          <div class="cat-title">
            <a href="{% url 'customer:chicken' %}">Chicken</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-2 mb-4 mb-lg-0">
        <div class="card">
          <div class="cat-image">
            <a href="{% url 'customer:sandwich' %}" class="link_category_product">
              <img src="{% static './images/img/sand.png' %}" alt="" />
            </a>
          </div>
          <div class="cat-title">
            <a href="{% url 'customer:sandwich' %}">Sandwich</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block content %} {% load static %}

<div class="container d-flex align-items-start flex-wrap">
  {% if items %}
  {% for item in items %}
  <div class="card m-2" style="width: 18rem">
    <img class="card-img-top" src="{{item.image.url}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title" style="color: rgb(10, 129, 56)">
        {{item.food_title}}
      </h5>
      <p class="card-text py-1">{{item.food_description}}</p>
      <div class="d-flex align-items-center justify-content-between">
        <p class="text-lg font-weight-bold">BDT {{item.food_price}}</p>
        <div class="d-flex align-items-center">
          <button class="btn btn-sm btn-primary mx-2">
            <a
              href="{% url 'customer:add-to-cart' item.id %}"
              style="color: black"
              >Add to Cart</a
            >
          </button>
          <button class="btn btn-sm btn-outline-warning">
            <a
              class="btn-sm app-btn-secondary"
              href="{% url 'customer:cus-food-detail' item.id %}"
              >View</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p style="color:red">there is no item like this</p>
  {% endif %}
</div>
{% endblock %}
