{% extends 'customer/table_base.html' %}
 {% block content %}
<div class="cart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-5">
                <h3 class="text-center">Active Orders</h3>
                {% if active %}
                <h4 class="text-center">Total Bill Amount: {{total}} for {{ count }} boxes.</h4>
                <h4 class="text-center">Your order Id: {{orderId}}</h4>
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <th scope="col">Ordered</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Pieces</th>
                            <th scope="col">Order Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item_active in active %}
                        <tr>
                            <td>{{ item_active.ordered_date }}</td>
                            <td>{{ item_active.item.food_title}} <span class="badge badge-{{ item_active.item.label_colour }}">{{ item_active.item.labels }}</span></td>
                            <td>{{ item_active.item.food_price }}</td>
                            <td>{{ item_active.item.serving_quantity }} pieces</td>
                            <td>{{ item_active.status }}</td>
                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h4 class="text-center">Sorry, you have not ordered any item yet!!!</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<div class="row">
    <div class="col-sm-12 mt-5">
        <h3 class="text-center">Proceccing Orders</h3>
        {% if process %}
        <h4 class="text-center">{{orderId}}</h4>
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                <tr>
                    <th scope="col">Ordered</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Pieces</th>
                    <th scope="col">Order Status</th>
                </tr>
                </thead>
                <tbody>
                    {% for item_active in process %}
                <tr>
                    <td>{{ item_active.ordered_date }}</td>
                    <td>{{ item_active.item.food_title}} <span class="badge badge-{{ item_active.item.label_colour }}">{{ item_active.item.labels }}</span></td>
                    <td>{{ item_active.item.food_price }}</td>
                    <td>{{ item_active.item.serving_quantity }} pieces</td>
                    <td>{{ item_active.status }}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h4 class="text-center">Sorry, you have no any item in processing!!!</h4>
        {% endif %}
    </div>
</div>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<div class="row">
    <div class="col-sm-12 mt-5">
        <h3 class="text-center">Delivered Orders</h3>
        {% if deliver %}
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                <tr>
                    <th scope="col">Ordered</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Pieces</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Delivery Date</th>
                </tr>
                </thead>
                <tbody>
                    {% for cart in deliver %}
                <tr>
                    <td>{{ cart.ordered_date }}</td>
                    <td>{{ cart.item.food_title }} <span class="badge badge-{{ cart.item.label_colour }}">{{ cart.item.labels }}</span></td>
                    <td>{{ cart.item.food_price }}</td>
                    <td>{{ cart.quantity }} pieces</td>
                    <td>{{ cart.status }}</td>
                    <td>{{ cart.delivery_date }}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h4 class="text-center">Sorry, you have not ordered any item yet!!!</h4>
        {% endif %}
    </div>
</div>

{% endblock %}