{% extends 'manager/authentication_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<html>
<head>

</head>
<body>
    <div class="container mt-3">
    <div class="usersignupform p-3" id="design">
        <h4 class="d-inline-block">Customer Registration</h4>
        <div class="bg-info mb-3" style="padding: 0.5px;"></div>
        <div id="">
            <form class="site-form" action="{% url 'customer:customer_registration' %}" method="post">
            {% csrf_token %}
            {{ signform|crispy }}
            <input type="submit" value="Signup" class="btn-sm app-btn-secondary">
            </form>
            <span><a href="{% url 'customer:customer_login' %}" class="text-secondary" style="font-size:13px">Back to login</a></span>
            <div class="mt-3">
                {% if message %}
                {% if msgtype == "successful" %}
                <p class="alert alert-warning" id="alert-style">{{ message }}</p>
                {% else %}
                <p class="alert alert-danger" id="alert-style">{{ message }} and try again</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>

{% endblock %}